body {
  background: #121212;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
}

header {
  text-align: center;
  padding: 15px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
}

.day {
  padding: 15px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.day:hover {
  background: #2a2a2a;
}

.selected {
  background: #6a8cff;
  color: #000;
}

#entries {
  padding: 15px;
}

#addBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #6a8cff;
  color: black;
  border: none;
  width: 60px;
  height: 60px;
  font-size: 32px;
  border-radius: 50%;
}
